* {
    margin: 0;
    padding: 0;
}

#header, #footer {
    background: rgb(97, 255, 145);
    height: 75px;
    width: 100%;
    border-bottom: 5px solid rgb(61, 161, 91);
    text-align: center;
    line-height: 75px;
    margin-bottom: 25px;
}

#header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: rgb(61, 161, 91);
    border: 2px solid rgb(68, 68, 68);
    border-radius: 30px;
    padding: 7px 14px;
    float: center;
}

#header a:not(:last-of-type) {
    margin-right: 20px;
}

#header a:hover {
    background: rgb(97, 255, 145);
    color: black;
    padding: 9px 16px;
    transition: 0.3s;
}

#header #logo {
    float: left;
    margin-left: 50px;
    font-size: 20px;
}

#header #number_phone {
    float: right;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

#main {
    border: 2px solid silver;
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
}

#footer {
    border-top: 5px solid rgb(61, 161, 91);
    border-bottom: none;
    margin-bottom: none;
    margin-top: 25px;
}